<br/><center>
<h1 id = "label">Register Form</h1>
</center>
<br/><br /><br />

<div class = "wrapper">
<br />
<form method=POST action='/teachers/new'>
  Name: <input type='text' id='teacher[name]' name='teacher[name]' required/><br /><br />
  Username: <input type='text' id='teacher[username]' name='teacher[username]' required/><br /><br />
  Password:<input type='password' id='teacher[password]' name='teacher[password]' required /><br /><br />
  <button type='submit'>Register</button>
</form>

<br />
<form method="get" action="/">
  <input id="main_screen" type="submit" name="main_screen" value="Return to main page">
</form>
</div>
