<h1 id = "label1"><%= current_teacher.name %>, are you sure you want to delete your account?</h1>
  <br/><br/>  <br/><br/>   <br/><br/>


<div class = "wrapper">
<form method="post" action="/teachers/<%=current_teacher.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" name="delete" value="Yes">
</form>
<br />

<form method="get" action="/teachers/show">
  <input id="show" type="submit" name="show" value="No">
</form>
<br />

<form method="get" action="/teachers/logout">
  <input id="logout" type="submit" name="logout" value="Just log me out">
</form>
</div><br />
<br />
<br />
