
<center><h2 id = "label"> Homework/lessons</h2></center>
<br/><br />
<div class = "wrapper">
<h3>Current homework</h3>
<%Subject.all.each do |subject| %>
  <ul>
    <li><%=subject.name %></li>
  </ul>
<%end %>
<h3>Current Lessons:</h3>
<%Lesson.all.each do |lesson| %>
  <ul>
  <li><%=lesson.name %></li>
  </ul>
<%end %>
<br />

<a href="/teachers/edit_assignments">Edit assignments</a><br /><br />

<form method="get" action="/teachers/show">
  <input id="display_assignment" type="submit" name="display_assignment" value="Return to my homepage">
</form>
</div>
