
<h6>Teacher Log In</h6>
<br />
<center>
<h1 id = "label">Welcome back</h1>
</center>
<div class = "wrapper">
<form method='post' action ='/teachers/login'>
  <p>Username: <input type='text' id='teacher[username]' name='teacher[username]' required/><br /></P>
  <p>Password:<input type='password' id='teacher[password]' name='teacher[password]' required /><br /></P>
  <button type='submit'>Log In</button>
</form>
<br />
<form method='get' action ='/teachers/new'>
    <button type='submit'>Not yet registered? Sign up here.</button>
</form>
<br />
<form method="get" action='/students/login'>
    <button type='submit'>If you are a student, click here to log in.</button>
</form>
<br />
<form method="get" action="/">
  <input id="main_screen" type="submit" name="main_screen" value="Return to main page">
</form>
</div>
