<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="utf-8">
    <title> Union School</title> -->
    <link rel="stylesheet" href="/stylesheets/main.css" />

  </head>
  <body class = "index">
    <center>
    <h1 id = "schoolName">Welcome to Union School</h1>
  </center>
    <br /><br />
    <nav id = "left">
      Teacher/Parent
      <br />
      <a href="/teachers/new">Sign Up</a> <br />
      <a href="/teachers/login">Log In</a>
      <br /><br />

      Student
      <br />
      <a href="/students/new">Sign Up</a> <br />
      <a href="/students/login">Log In</a> <br />
    </nav>

  </body>
</html>
